html,body {
    line-height: 1;
    background: #e8e8f0;
}

.group-list {
    padding: 5px 10px;
}
.group-list .group-item {
    width: 100%;
    height: 70px;
    border-radius: 4px;
    background: white;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin: 5px 0px;
}
.group-list .group-item .group-left,.group-list .group-item .group-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.group-list .group-item .group-right {
    text-align: right;
}

.group-list .group-item .group-left .group-item-name {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.group-list .group-item .group-left .group-item-phone {
    font-size: 15px;
    margin-top: 10px;
}
.group-list .group-item .group-right .group-item-date {
    font-size: 15px;
}
.group-list .group-item .group-right .group-item-money {
    color: red;
    font-size: 15px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}